.custom-text-field-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 0.35rem;
    border: 1px solid #1f1d1d;
  }
  

  

  